@model CatalogManager.Models.Category

<div class="row subcategory">
    <h2>@Model.Name</h2>
    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Edit &raquo;</a>
    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Delete &raquo;</a>
</div>