@model CatalogManager.Models.Catalog
@{
    ViewBag.Title = "Catalog";
    ViewData["PageType"] = "Main";
}


<div class="jumbotron">
    <h1>Catalog Manager</h1>
    <p class="lead">Manage Best Buy's Catalog, With Style!</p>

</div>

<div class="row categories">
    <div class="col-md-12">
        <div class="row">
            Main Catalog
        </div>
        @if (Model.Categories != null)
        {
            foreach (var category in Model.MainCategories)
            {
                @Html.Partial("_CategoryPartial", Model.Categories[category], ViewData)
            }
        }

        <div class="row lastRow">
            @Html.ActionLink("Add Category", "CreateCategory", "Catalog", null, new {@class = "btn btn-primary btn-large"})
        </div>
    </div>


</div>